Goal of the model is to predict points of the player for the next season!
Which then predicts the top 20 best players of next season! ( we will use regular season data to accomedate for players who didnt make playoffs)

#Models to try out:
    1. Linear Regression
    2. Ridge regression
    3. Support vector regression
    y =PTS/PPG
    x= important features
    
    
 Train data organization:
  use three to 4 years of nba data of high perfroming players of that year 
  train test 80 20 
  
 
  
  To predict for the best 20 players of the next season we take the data of the best 50 players already in the league and predict (note we dont take the account of new draft players or any break out stars, due to it requires a variety of diffrent other factors that are hard to measure and predict, such as injuries playing times trades and etc)

In [39]:
import numpy as np
import pandas as pd

from nba_api.stats.endpoints import playercareerstats

from nba_api.stats.static import players
from plotly.offline import iplot


pd.options.display.max_columns = None
#py.offline.init_notebook_mode(connected=True)

In [ ]:
df=playercareerstats.PlayerCareerStats(player_id=2544).get_data_frames()[0]
df=df.loc[df['SEASON_ID']=='2018-19']
data= players.get_active_players()
df
print(data[0]['id'])

  Acquiring Required Data

In [ ]:
print(len(data))

In [ ]:
# df=playercareerstats.PlayerCareerStats(player_id=2544).get_data_frames()[0]
# dfT=df.loc[df['SEASON_ID']=='2018-19']
# df=playercareerstats.PlayerCareerStats(player_id=data[1]['id']).get_data_frames()[0]
# df=df.loc[df['SEASON_ID']=='2018-19']
# dfT=pd.concat([df, dfT], ignore_index=True)
# dfT

Pulling 2018-2019 Season Data of All players

In [ ]:
#starting Df
df=playercareerstats.PlayerCareerStats(player_id=2544).get_data_frames()[0]
dfT=df.loc[df['SEASON_ID']=='2018-19']

for i in range(1,len(data)):
    df=playercareerstats.PlayerCareerStats(player_id=data[i]['id']).get_data_frames()[0]
    df=df.loc[df['SEASON_ID']=='2018-19']
    dfT=pd.concat([df, dfT], ignore_index=True)

In [32]:
dfT

,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2018-19,00,1610612747,LAL,22.0,33,12,516.0,112,193,0.580,0,0,0.000,57,66,0.864,54,108,162,25,4,27,33,73,281
1,2018-19,00,1610612746,LAC,22.0,26,25,524.0,100,186,0.538,0,0,0.000,44,60,0.733,61,139,200,38,10,24,37,64,244
2,2018-19,00,0,TOT,22.0,59,37,1039.0,212,379,0.559,0,0,0.000,101,126,0.802,115,247,362,63,14,51,70,137,525
3,2018-19,00,1610612739,CLE,22.0,59,25,1082.0,183,331,0.553,0,0,0.000,93,132,0.705,108,212,320,53,13,22,61,113,459
4,2018-19,00,1610612766,CHA,26.0,49,47,1243.0,190,345,0.551,6,22,0.273,111,141,0.787,110,223,333,102,38,41,62,164,497
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,2018-19,00,1610612751,BKN,21.0,80,80,2096.0,335,568,0.590,6,45,0.133,197,278,0.709,191,481,672,110,43,120,103,184,873
516,2018-19,00,1610612762,UTA,23.0,38,2,416.0,67,178,0.376,32,99,0.323,45,60,0.750,3,20,23,25,6,6,33,47,211
517,2018-19,00,1610612759,SAS,33.0,81,81,2687.0,684,1319,0.519,10,42,0.238,349,412,0.847,251,493,744,194,43,107,144,179,1727
518,2018-19,00,1610612748,MIA,21.0,82,28,1913.0,280,486,0.576,3,15,0.200,166,226,0.735,165,432,597,184,71,65,121,203,729
519,2018-19,00,1610612747,LAL,34.0,55,55,1937.0,558,1095,0.510,111,327,0.339,278,418,0.665,57,408,465,454,72,33,197,94,1505

In [31]:
dfT=dfT.drop(columns=['PLAYER_ID','SEASON_ID','TEAM_ID','TEAM_ABBREVIATION'])
dfT

SyntaxError: positional argument follows keyword argument (<ipython-input-31-dcbb43921c47>, line 1)